/*External CSS*/

body {
    background-color: pink;
}

.mylabelclass {
    color: rebeccapurple;
}

.yagizabiyeulas {
    color: black;
    background-color: aquamarine;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

    .yagizabiyeulas:hover {
        color: black;
        background-color: aquamarine;
        width: 200px;
    }

input.myinputclass {
    /*width:1000px;*/
    width: 95%;
    border-radius: 7px;
}

#mydivid {
    background-image: url('./02_Html/WhatsApp Image 2022-03-06 at 16.49.25_480x640.jpg') background-repeat:no-repeat;
    height: 4800px;
    width: 6400px;
    background-position: center;
    border-width: 1px;
    border-style: solid;
    border-color: goldenrod;
    padding-top: 30px;
    text-align: right;
}

.Resim {
    height: 480px;
    width: 640px;
}

.benvemelik {
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: indigo;
    border-block:groove;
    
    
}
.myaclass{
    font-size:xx-large;
    font-family:Arial, Helvetica, sans-serif;
    border-block:medium;
    color:hotpink;
}
.myaclass:visited{
    color:firebrick !important;
    text-decoration-color:red;

}
    .myaclass:hover {
        text-decoration: none;
        color: black !important;
        background-color: lightgreen;
        cursor: all-scroll;
        bottom: inherit;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .myaclass:link {
        background-color: blue;
        
    }
    .myaclass:link, .myaclass:visited {
        background-color: #f44336;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display:list-item;
        bottom:inherit;
        
    }
